
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .platform-back-ground {
    background-image: url("./ptt_background.png") !important;
    min-width: 110% !important;
    min-height: 120vh !important;
  }
  
  .ptt-container {
  }
  
  .ptt-container img {
    width: 200px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }
  
  .application-container {
    transition: all 0.7s ease;
    text-align: center;
  }
  
  .application-container img {
    width: 200px !important;
    display: block !important;
    margin-left:  65px !important;
    margin-right: auto !important;
  }
  
  .application-container img:hover {
    transform: rotate(10deg);
  }
  
  .application-container h1 {
    color: var(--main-color);
    font-size: 50px;
    margin-left: -50px;
    text-align: center;
  }
  
  .android-container {
    width: fit-content;
    display: block;
    position: relative;
    margin-left: 2rem;
    margin-right: auto;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 9px -2px rgba(51, 102, 51, 100);
    cursor: pointer;
    text-align: center;
    padding: .8rem;
    justify-content: center;
    margin-top: 3rem;
    cursor: pointer;
  }
  
  .android-container img {
    width: 50px;
  }
  
  .android-container h1 {
    color: var(--main-color);
    font-size: 35px;
    padding-left: 1.5rem;
    padding-right: 2rem;
  }
  
  .platform-container {
    position: absolute;
    top: 15%;
    left: 0%;
    transform: translate(10%, 15%);
  }
  
  .version-container {
    text-align: center;
    margin-top: 3rem;
    text-align: center;
    margin-left: -50px;
  }
}


@media screen and (min-width:1281px) { 
    .platform-back-ground {
        background: url("./ptt_background.png");
        width: 100%;
        min-height: 100vh;
      }
    
      .ptt-container img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
      }
    
      .application-container {
        text-align: center;
        margin: 0 0 3rem 0;
      }
    
      .application-container img {
        width: 300px;
        transition: all 0.7s ease;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
      .application-container img:hover {
        transform: rotate(10deg);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
      .application-container h1 {
        color: var(--main-color);
        font-size: 60px;
        text-align: center;
      }
    
      .android-container {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px 100px 100px 100px;
        display: flex;
        align-items: center;
        box-shadow: 0px 5px 9px -2px rgba(51, 102, 51, 100);
        cursor: pointer;
        text-align: center;
        padding: .8rem;
        justify-content: center;
        margin-top: 3rem;
        cursor: pointer;
      }
    
      .android-container img {
        width: 100px;
      }
    
      .android-container h1 {
        color: var(--main-color);
        font-size: 60px;
        padding-left: 1.5rem;
      }
    
      .platform-container {
        position: absolute;
        top: 15%;
        left: 35%;
      }
    
      .version-container {
        text-align: center;
        margin-top: 70px;
      }
    
}

/* ----------- Retina Screens ----------- */
