

 #forgot-logo{
    width: 315px !important;
    height: 241px !important;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}

.main-forgot-content{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.main-forgot-content button{
    width: 100%;
    margin-top: 1.5rem;
    background-color: var(--main-color);
    color: #fff;
}

.main-forgot-content button:hover{
    background-color: var(--main-color-hover);
}
.form-forgot-group input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-forgot-group input:focus{
    padding: 0.5rem;
    transition: all .3s ease-out;
}

.main-forgot-content h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: var(--main-color);
}

.main-forgot-content p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .8rem;
}

@media screen and (max-width:960px) {
    .main-forgot-content h1{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        color: var(--main-color);
        margin-left: -5px;
        position: relative;
    }

    .main-forgot-content p{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: .8rem;
    }

    .main-forgot-content{
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    
}

.back-home{
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    // text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    color: var(--main-color);
}

.back-home label:hover{
    text-decoration: underline;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

