.forgot-password-container {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
}

.forgot-password-container button{
    width: 100%;
    margin-top: 1rem;
    background: var(--main-color);
    color: #ffff;
}


.forgot-password-container button:hover{
    background: var(--main-color-hover);
    transition: all 1s ease;
}

.forgot-password-container button:active{
    background: var(--main-color-hover);
    transition: all 1s ease-in-out;

}

.forgot-password-container .forgot-input-form-group{
    margin-top: .5rem;
}

.forgot-input-form-group input{
    padding: .5rem;
    outline: none;
    border: 1px solid #bbb;
    margin-top: 1rem;
}

.forgot-input-form-group label{
    padding-bottom: 0.6rem !important;
}

.forgot-input-form-group span{
    position: absolute;
    transform: translate(0,50%);
    right: 15px;
    top: 13%;
    cursor: pointer;
}
.forgot-input-form-group #span-eye2{
    position: absolute;
    transform: translate(0,50%);
    right: 15px;
    top: 41%;
    cursor: pointer;
}

.forgot-input-form-group #span-eye3{
    position: absolute;
    transform: translate(0,50%);
    right: 15px;
    top: 70%;
    cursor: pointer;
}


.forgot-input-form-group .far{
    color: #7a797e;
}