#submit {
  background-color: #245894;
  color: #fff;
}

#submit:hover {
  background-color: #426fa3;
  color: #fff;
}

.create-file-container {
  width: 100%;
  background-color: #ffff;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  margin: 1rem 0 2rem 0;
  border-radius: 7px;
  padding-bottom: 2rem;
}

.create-file-container .header-files-text {
  padding: 0.5rem;
}

.create-file-container .files-hr {
  border-bottom: 1px solid #bbb;
}

.form-createfiles-container {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form-createfiles-container .form-createfile-group {
  display: flex;
  align-items: center;
}

.form-createfile-group {
  margin-top: 1rem;
}

.form-createfile-group #div-1 {
  width: 35%;
}

.form-createfile-group input {
  width: 120%;
}

.form-createfile-group select {
  width: 200%;
  border: 1px solid #bbb;
  outline: none;
  padding: 0.3rem;
  border-radius: 4px;
}

.form-createfile-group span {
  color: red;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-createfile-group select {
    width: 180% !important;
    border: 1px solid #bbb;
    outline: none;
    padding: 0.3rem;
    border-radius: 4px;
  }
  .form-createfiles-container {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-top: 0rem !important;
    padding-left: 1rem;
}

.form-createfile-group input[type="file"]{
  max-width: 95%;
}
}
