.sidebar {
  height: 100%;
  width: 273px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #ffffff;
  padding: 1rem;
}

.main-side {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem;
}
.sidebar-header span {
  cursor: pointer;
}

.sidebar-header span:hover {
  cursor: pointer;
  color: #bbb;
}

.sidebar-menu {
  padding-top: 120px;
}

#menu-p {
  color: rgba(255, 255, 255, 0.4);
  padding: 1rem 0 1rem 0;
  font-size: 14px;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: #ffffff;
  font-size: 0.9rem;
}

.sidebar a:hover {
  color: #bbb;
  font-size: 0.9rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

.text-logo {
}

.brand img {
  position: relative;
  width: 200px;
  margin-top: 80px;
  cursor: pointer;
  transition: all 1s ease;
}

.brand img:hover {
  transform: rotate(20deg);
}

.foot-side ul li label {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.foot-side ul li label:hover {
  color: #bbb;
}

ul li label #icon-sub {
  padding-right: 1rem;
}

ul li label {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

ul li input {
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}

[id^="btn"]:checked + ul {
  display: block;
  opacity: 1;
}

ul li #sub-menu {
  margin-left: 2.5rem;
}

ul ul {
  display: none;
}

.sidebar {
  display: unset;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidebar {
    display: none;
  }

 
}
