#border {
  border: 1px solid #bbb;
  margin-left: 2rem;
  max-width: 95%;
  max-width: auto;
}
.register-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem 0 1rem;
}

.register-button-container span {
  display: flex;
  width: 100%;
  align-items: center;
}

.register-button-container input {
  width: fit-content;
  margin-right: 0.8rem;
}

.register-button-container #register-button {
  width: 50%;
  background: var(--main-color);
  color: #fff;
}

.register-button-container #register-button:disabled {
  width: 50%;
  background: var(--main-color-hover);
  color: #fff;
}

.register-button-container #register-button:hover {
  width: 50%;
  background: var(--main-color-hover);
  color: #fff;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #border {
    border: 1px solid #bbb;
    margin: 1rem 0rem;
    max-width: 100%;
  }

  .register-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .register-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }
}
