.footer-detail h5{
    color: var(--text-grey);
    font-weight: 200;
}

footer{
    position: fixed;
    left: 273px;
    bottom: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #eaecf4;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}