.login-container {
  background: var(--main-color);
  min-height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-main {
  background: #ffff;
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  display: flex;
}

@media (max-width: 1281px) {
  .login-main {
    background: #ffff;
    max-width: 60%;
    position: relative;
    top: 10%;
    left: 0%;
    transform: translate(35%, 30%);
    box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    display: flex;
  }
}

.login-main .bg-login {
  background: url("./9cb848d2dc6542509711a9a9860ab82f.jpg");
  width: 700px;
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

.login-form-container {
  width: 100%;
  padding: 4rem;
}

.login-form-container .login-logo-container {
  position: relative;
  width: 100%;
  transform: translate(0%, 5%);
}

.login-form-container img {
  width: 200px;
}

.form-select-group {
  width: 100%;
  margin-top: 2rem;
}

.form-select-group select {
  width: 100%;
  outline: none;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  border: 1px solid #bbbbbbbb;
  margin-bottom: 1rem;
}

.form-select-group option {
  outline: none;
  border: none;
}

.form-login-input-group input {
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #bbbbbbbb;
}

.form-login-buttom-group button {
  width: 100%;
  background: var(--main-color);
  color: #ffff;
}

.form-login-buttom-group button:hover {
  background: var(--main-color-hover);
}

.forgot-password-content label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  padding-top: 0.3rem;
  color: var(--main-color);
  cursor: pointer;
}

.forgot-password-content label:hover {
  text-decoration: underline;
}

.create-account-content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-top: 1rem;
  font-size: 14px;
}

.create-account-content span {
  color: var(--main-color);
  cursor: pointer;
}

.create-account-content span:hover {
  text-decoration: underline;
}

.register-container {

  background: #f1f1f1;
  max-width: 100%;
  min-height: 100vh;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .register-container {

      background: #f1f1f1;
      max-width: 100%;
      min-height: 220vh;
    }
    .register-card {
      max-width: 100%;
      max-height: 100%;
      background-color: #ffff;
      border-radius: 10px;
      box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
      align-items: center;
      height: fit-content;
      margin: 0 1rem;
      position: relative;
      top:10px;
      padding-bottom: .2rem;
    }

}




.register-container .own-register-hr{
    border-bottom: 1px solid #bbb;
}

.register-card .register-header-group{
    padding: 1rem;
}

.register-header-group p{
    padding-top: .5rem;
}

.comback-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:960px) {
  
.login-main .bg-login {
 display: none;
}

.login-main {
  background: #ffff;
  max-width: 100%;
  position: fixed;
  top: 10%;
  left: 0%;
  transform: translate(0%, 0%);
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  display: flex;
  margin: 0 1rem;
}
.login-form-container {
  width: 100%;
  padding: 4rem;
}

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .login-main {
      background: #ffff;
      max-width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
    
      transform: translate(-50%, -50%);
      box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
      border-radius: 10px;
      display: flex;
    }
}

