@font-face {
  font-family: "promtback";
  src: url("./Assets/inter-ui/Inter-UI-Medium.woff");
}
:root {
  --main-color: #274b2b;
  --main-color-hover: #315035;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --btn-success: #5aa667;
  --btn-refresh: #efeff1;
  --btn-pending: #f7b224;
  --btn-submit: #245894;
  --btn-hover: #dedee2;
  --btn-submit-hover: #396ba3;
  --btn-pending-hover: #ebb342;
}

* {
  font-family: promtback;
  margin: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

// input:focus {
//   border-color: dodgerblue;
//   box-shadow: 0 0 8px 0 dodgerblue;
// }

.dash-tittle {
  color: var(--color-dark);
  margin-top: 0rem;
}

.main-content {
  position: relative;
  margin-left: 200px;
}

main {
  margin-top: 60px;
  background: #f1f1f1;
  min-height: 90vh;
  padding: 1rem 1rem 1rem 5rem;
}

button {
  outline: none;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  background: var(--btn-refresh);
  font-size: 14px;
}

button span,
button label {
  padding: 0.4rem;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

.title-container {
  max-width: 100%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
}

.logic-but-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logic-but-content button {
  margin-left: 1.2rem;
}

#button-submit {
  background-color: var(--btn-submit);
  color: #fff;
}

#button-submit:hover {
  background-color: var(--btn-submit-hover);
  color: #fff;
}
.App-mobile{
  display: none;
}

.formobile{
  display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .App-normal{
    display: none;
  }

  .App-mobile{
    display: unset;
  }

  .MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: unset !important
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  margin-left: -60px;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background: var(--main-color) !important;
}

.title-container {
  max-width: 95%;
  background-color: #ffff;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  align-items: center;
  position: relative;
  margin-top: -20px;
  // margin-right: 1rem;
}
.dash-tittle {
  color: var(--color-dark);
  margin-top: 0rem;
  max-width: 230px;
  word-wrap: break-word;
}
.logic-but-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100px;
}
.logic-but-content button{
  margin-bottom: 1rem;
}
.formobile{
  display: unset;
}

.logic-but-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
}

.logic-but-content button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
// background: var(--main-color);
.main-content{
  display: unset;
  margin-left: 0rem !important;
  
}
main {
  background: #f1f1f1;
  min-height: 90vh;
  padding: 0rem !important;
  position: relative;
  margin: 2rem 0rem 0 1rem;
  

}
.MuiToolbar-gutters {
  padding-left: 0px !important;
  padding-right: 16px;
}

}